<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
 
</head>
<body>
    <h1>Calculator by Ricky Devops</h1>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div class="calculator-bg">
                    <form action="{{ url_for('calculate') }}" method="post" class="calculator">
                        <div class="form-group">
                            <input type="text" name="num1" id="num1" class="form-control calculator-input" placeholder="Number 1">
                        </div>
                        <div class="form-group">
                            <input type="text" name="num2" id="num2" class="form-control calculator-input" placeholder="Number 2">
                        </div>
                        <div class="form-group">
                            <select name="operation" id="operation" class="form-control calculator-input">
                                <option value="add">+</option>
                                <option value="subtract">-</option>
                                <option value="multiply">*</option>
                                <option value="divide">/</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Calculate" class="btn btn-primary calculator-input">
                        </div>
                        <div class="form-group">
                            <div class="alert alert-success" role="alert">
                                {{ result }}
                            </div>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flashes">
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

